html {
    font-size: 100%;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem !important; // Grundschriftart
}
html, body {
    max-width: 100% !important;
    overflow-x: clip !important;
}

.styledark {
    color: #ffffff;
}
.stylelight {
    color: $primary;
}
.styleblack {
    color: #000000;
}
.hyphenate {
    -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; 
}
h1.page-title {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
}
h2.page-subtitle {
    font-size: 2.5rem;
    font-weight: 400;
    padding-bottom: 0.5rem;
    @media (max-width: $smallscreen){
        font-size: 2.25rem;
    }
}
h2.frontpage-sectiontitle {
    font-size: 2.5rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
}
h3.frontpage-subsectiontitle {
    font-size: 1.6rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
}
// Logo Grösse definieren
.custom-logo-link > img {
    width: 190px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    transition-duration: 0.3s;
}
.shrinklogo > img {
    width: 95px;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    transition-duration: 0.3s;
}

.bg-primary {
    background-color: #fff !important;
}

#wrapper-navbar {
    box-shadow: 0px 3px 3px $shadowbg01;
}
#main-menu {
    font-weight: 700;
  }
.navbar {
    --bs-navbar-nav-link-padding-x: 0.9rem !important;
}
.navbar-light {
--bs-navbar-color: #000000;
--bs-navbar-hover-color: #0060AF;
--bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
--bs-navbar-active-color: #0060AF;
--bs-navbar-brand-color: #0060AF;
--bs-navbar-brand-hover-color: #0060AF;
--bs-navbar-toggler-border-color: none;
--bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
#main-menu {
    .current-menu-item a, .current-page-ancestor a {
        color: $primary !important;
    }
    .current-menu-item.black a, .current-page-ancestor.black a {
        color: #000000 !important;
    }
    .current-menu-item.black a:hover, .current-page-ancestor.black a:hover {
        color: $primary !important;
    }
}

.linkbutton {
    border: none;
    background-color: $primary;
    border-radius: 2rem;
    opacity: 1;
    padding-right: 0;
    padding-left: 0;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    font-weight: 600;
    color: #fff;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    a, a:hover, a:focus {
        color: white;
    }
    @media (max-width: $mediumscreen){
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0;
        padding-bottom: 0;
        }
}
.linkbutton:hover {
    background-color: $secondary !important;
}
.ms-center {
    margin:auto;
}

.navbar-toggler {
    border: none;
    color: transparent;
}

.flexgrownull {
    flex-grow: 0;
}

.languagebar {
    height: 2.125rem;
    background: $lightgreybg;
}

/* Language Menu Customization */
.wpml-ls {
    margin-left: auto !important; // Right Align
    font-size: 0.875rem;
    padding-top: 3px;
    font-weight: 600;
}
.wpml-ls-legacy-dropdown-click {
    width: 6.1rem;
    .wpml-ls-sub-menu {
        border: none !important;
        background: $primary;
        padding-bottom: 2px;
        a, a:hover, a:focus {
            color: #fff !important;
        }
    }
}
.wpml-ls-legacy-dropdown-click a, .wpml-ls-legacy-dropdown-click a:hover, .wpml-ls-legacy-dropdown-click a:focus {
    border: none;
    background-color: transparent !important;
    color: $primary !important;
}

/* Developement WPML Bar remove*/
.otgs-development-site-front-end {
    display: none;
}
/* Everything FOOTER */
#wrapper-footer {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}
.footericon {
    margin-bottom: 0px !important;
    @media (max-width: $smallscreen){
        text-align: left !important;
        }
}
.footericon > div {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    padding-top: 0px !important;
    border: none !important;
    top: -0.75em !important;
    height: 3em !important;
    width: 3em !important;
    @media (max-width: $smallscreen){
        text-align: left !important;
        width: 2em !important;
        }
}
.footerwpmenu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.875rem;
    line-height: 1.75rem;
}
.footerwpmenu ul {
    padding-left: 0rem !important;
}
.footerwpmenu li {
   list-style: none !important;
}


/* Page Wrapper */
#page-wrapper {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Styling Footer Row */
.footerrowbg {
    background-color: $primary;
    padding-top: 3.125rem;
    padding-bottom: 1.25rem;
}
.footerrowheading {
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    @media (max-width: $smallscreen){
        margin-top: 1.5rem !important;
        }
}
.footerrowtext {
    color: #fff;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.75rem;
}
.footerrowtext a {
    color: #fff;
    text-decoration: none;
}
.footerrowtext a:hover {
    text-decoration: none;
    color: #c7c7c7;
}
.footerrowtextsmall {
    color: #fff;
    font-size: 0.8rem;
    font-weight: 400;
    padding-right: 3.125rem;
}
/* Styling Copyright Row */
.copyrightrowbg {
    background-color: $secondary;
}
.copyrightrow {
    color: #fff;
    font-size: 0.8rem;
    font-weight: 700;
    padding-top: 1.875rem;
}
.copyrightrow a {
    text-decoration: none;
    color: #fff;
}
.copyrightrow a:hover {
    text-decoration: none;
    color: #c7c7c7;
}
.copyrightrightalign {
    text-align: right;
    @media (max-width: $smallscreen){
        text-align: left;
        }
}
.copyrightrightalign > div > p > a {
    padding-left: 0.75rem;
    padding-right: 0;
    @media (max-width: $smallscreen){
        padding-left: 0;
        padding-right: 0.75rem;
        }
}

// Buttons
.vc_btn3-color-btn-tracomme-white-darkblue {
    background-color: #ffffff !important;
    border-color: transparent !important;
    color: $secondary !important;
    font-weight: 700;
}
.vc_btn3-color-btn-tracomme-white-darkblue:hover {
    background-color: $secondary !important;
    color: #ffffff !important;
}
.vc_btn3-color-btn-tracomme-white-blue {
    background-color: #ffffff !important;
    border-color: transparent !important;
    color: $secondary !important;
    font-weight: 700;
}
.vc_btn3-color-btn-tracomme-white-blue:hover {
    background-color: $primary !important;
    color: #ffffff !important;
}
.vc_btn3-color-btn-tracomme-black-blue {
    background-color: #000000 !important;
    border-color: transparent !important;
    color: #ffffff !important;
    font-weight: 700;
}
.vc_btn3-color-btn-tracomme-black-blue:hover {
    background-color: $primary !important;
}
.vc_btn3-color-btn-tracomme-blue-darkblue {
    background-color: $primary !important;
    border-color: transparent !important;
    color: #ffffff !important;
    font-weight: 700;
}
.vc_btn3-color-btn-tracomme-blue-darkblue:hover {
    background-color: $secondary !important;
}

.vc_btn3-color-btn-tracomme-darkblue-blue {
    background-color: $secondary !important;
    border-color: transparent !important;
    color: #ffffff !important;
    font-weight: 700;
}
.vc_btn3-color-btn-tracomme-darkblue-blue:hover {
    background-color: $primary !important;
}
.vc_btn3-color-btn-tracomme-lightgrey-blue {
    background-color: $lightgreybg !important;
    border-color: transparent !important;
    color: $secondary !important;
    font-weight: 700;
}
.vc_btn3-color-btn-tracomme-lightgrey-blue:hover {
    background-color: $primary !important;
    color: #ffffff !important;
}
.vc_btn3-color-btn-tracomme-lightgrey-darkblue {
    background-color: $lightgreybg !important;
    border-color: transparent !important;
    color: $secondary !important;
    font-weight: 700;
}
.vc_btn3-color-btn-tracomme-lightgrey-darkblue:hover {
    background-color: $secondary !important;
    color: #ffffff !important;
}

.read-more-link > .vc_btn3.vc_btn3-size-md {
    font-size: 0.75rem;
    font-weight: 700;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
}
.read-more-link > .vc_btn3.vc_btn3-size-md::after {
    font-family: "FontAwesome";
    font-weight: 400;
    padding-left: 0.875rem;
    font-size: 0.75rem;
    content: "\f054";
}
.tracomme2023-read-more-link {
    font-size: 0.75rem;
    font-weight: 700;
    background-color: $primary !important;
    border-color: transparent !important;
    color: #ffffff !important;
    border: none;
    border-radius: 2rem;
    opacity: 1;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    width: -webkit-min-content;
    width: -moz-min-content;
    text-transform: uppercase;
    a, a:hover, a:focus {
        color: white;
    }   
}
.tracomme2023-read-more-link::after {
    font-family: "FontAwesome";
    font-weight: 400;
    padding-left: 0.875rem;
    font-size: 0.75rem;
    content: "\f054";
}
/* Everything 404 Error Page */ 
#error-404-wrapper {
    padding: 0;
}

/* styling for fachwissen */
.fachwissen-archive-maincontent {
    margin-bottom: 4rem;
}

.fachwissen-wrapper {
    display: grid;
    grid-template-columns: 100px auto;
    padding-top: 1.5em;
    padding-bottom: 0;
}
.fachwissen-vorschaubild {
    width: 100px;   
}
.fachwissen-preview {
    max-width: 800px;
    background: $lightgreybg;
    padding: 1.25rem;
    position: relative;
    .fachwissen-preview-content {
        background-color: transparent;
    }
}
.fachwissen-title {
    font-size: 1.1rem;
    font-weight: 700;
    margin-top: 0;
    hyphens: auto;
}
.fachwissen-title a {
    text-decoration: none;
}
.fachwissen-excerpt {
    font-size: 1rem;
    font-weight: 400;
    margin-right: 0.75em;
}

/* Single fachwissen */
.single-fachwissen-page {
    padding-top: 0;
    padding-bottom: 0;
    background-color: $lightgreybg;
}

h1.fachwissen-single-h1-title {
    font-size: 2.25em;
    text-transform: none;
    font-weight: 700;
}

#fachwissen-single-header-wrapper {
    position: relative;
    box-sizing: border-box;
    left: calc(50% - 100vw/2);
    right: calc(50% - 100vw/2);
    width: 100vw;
    max-width: 100vw;
    padding-left: calc(100vw/2 - 50%);
    padding-right: calc(100vw/2 - 50%);
    min-height: 20rem;
    height: 40vh;
    margin-bottom: -4.5rem;
}
.fachwissen-single-header-image {
    position: absolute;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: center center;
    min-width: 100vw;
    width: 100vw;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    .fachwissen-single-image-overlay {
        background: $primary;
        opacity: 0.5;
        color: inherit;
        position: absolute;
        width: 100%;
        height: 100%!important;
        left: 0;
        top: 0;
    }
}
.fachwissen-single-header-info-wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    text-align: center;
    max-width: $mediumscreen;
    padding-top: 0;
    padding-bottom: 0;
    .fachwissen-single-header-meta-infobox {
        padding-bottom: 1rem;
        @media (min-width: $smallscreen){
            padding: 1rem 3rem 1rem 3rem;
        }
        .fachwissen-single-header-meta-info {
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            font-weight: 400;
            .fachwissen-tag-single-page {
                color: white;
                border-radius: 2rem;
                text-transform: uppercase;
                font-size: 0.875rem;
                font-weight: 600;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                padding-left: 1.5rem;
                padding-right: 1.5rem;
                background: $primary;
                box-shadow: 0px 3px 3px #00000029;
                display: inline-block;
            }
            .fachwissen-tag-single-page:hover {
                background: $secondary;
            }
            .fachwissen-tag-single-page a {
                color: white;
                text-decoration: none;
            }
            .fachwissen-single-header-meta-info-date {
                font-size: 1rem;
                font-weight: 600;
                padding-top: 0.25em;
                padding-bottom: 0.25em;
            }
        }
    }

}

#fachwissen-single-content-wrapper {
    background: white;
    box-shadow: 0px 3px 3px #00000029;
    position: relative;
    max-width: $mediumscreen;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    padding: 2em;
    @media (min-width: $smallscreen){
        padding: 3em 6em 1em 6em;
        }
    h2 {
        font-size: 1.5em;
        margin-top: 2em;
        margin-bottom: 1em;
    }
    h3 {
        font-size: 1.25em;
        margin-top: 1.5em;
        margin-bottom: 0.5em;
    }
    .fachwissen-lead {
        text-align: center;
        p {
            font-size: 1.1em;
            font-weight: 700;
        }
    }
}

/* styling for news & events */
.newsevents-archive-maincontent {
    margin-bottom: 4rem;
}

.newsevents-wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 0.75em;
    padding-bottom: 0;
    @media (max-width: $mediumscreen){
        flex-direction: column;
    }

}
.newsevents-vorschaubild {
    width: 45%;
    @media (max-width: $mediumscreen){
        width: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }
    
}
.newsevents-preview {
    width: 55%;
    background: $lightgreybg;
    padding: 1.25rem;
    position: relative;
    .newsevents-preview-content {
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        padding-right: 1.25rem;
    }
    @media (max-width: $mediumscreen){
        width: 100%;
        // zentrierung vertikal
        .newsevents-preview-content {
            top: 0;
            transform: none;
            position: relative;
        }
        
    }
}
.newsevents-date {
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 3px;
}
.newsevents-title {
    font-size: 1.625rem;
    font-weight: 700;
    margin-top: 0;
}
.newsevents-title a {
    text-decoration: none;
}
.newsevents-excerpt {
    font-size: 1rem;
    font-weight: 400;
    margin-right: 0.75em;
}

/* Single news and events */
.single-newsevents-page {
    padding-top: 0;
    padding-bottom: 0;
    background-color: $lightgreybg;
}

h1.newsevents-single-h1-title {
    font-size: 2.25em;
    text-transform: none;
    font-weight: 700;
}

#newsevents-single-header-wrapper {
    position: relative;
    box-sizing: border-box;
    left: calc(50% - 100vw/2);
    right: calc(50% - 100vw/2);
    width: 100vw;
    max-width: 100vw;
    padding-left: calc(100vw/2 - 50%);
    padding-right: calc(100vw/2 - 50%);
    min-height: 20rem;
    height: 40vh;
    margin-bottom: -4.5rem;
}
.newsevents-single-header-image {
    position: absolute;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: center center;
    min-width: 100vw;
    width: 100vw;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    .newsevents-single-image-overlay {
        background: $primary;
        opacity: 0.5;
        color: inherit;
        position: absolute;
        width: 100%;
        height: 100%!important;
        left: 0;
        top: 0;
    }
}
.newsevents-single-header-info-wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    text-align: center;
    max-width: $mediumscreen;
    padding-top: 0;
    padding-bottom: 0;
    .newsevents-single-header-meta-infobox {
        padding-bottom: 1rem;
        @media (min-width: $smallscreen){
            padding: 1rem 3rem 1rem 3rem;
        }
        .newsevents-single-header-meta-info {
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            font-weight: 400;
            .newsevents-tag-single-page {
                color: white;
                border-radius: 2rem;
                text-transform: uppercase;
                font-size: 0.875rem;
                font-weight: 600;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                padding-left: 1.5rem;
                padding-right: 1.5rem;
                background: $primary;
                box-shadow: 0px 3px 3px #00000029;
                display: inline-block;
            }
            .newsevents-tag-single-page:hover {
                background: $secondary;
            }
            .newsevents-tag-single-page a {
                color: white;
                text-decoration: none;
            }
            .newsevents-single-header-meta-info-date {
                font-size: 1rem;
                font-weight: 600;
                padding-top: 0.25em;
                padding-bottom: 0.25em;
            }
        }
    }

}

#newsevents-single-content-wrapper {
    background: white;
    box-shadow: 0px 3px 3px #00000029;
    position: relative;
    max-width: $mediumscreen;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    padding: 2em;
    @media (min-width: $smallscreen){
        padding: 3em 6em 1em 6em;
        }
    h2 {
        font-size: 1.5em;
        margin-top: 2em;
        margin-bottom: 1em;
    }
    h3 {
        font-size: 1.25em;
        margin-top: 1.5em;
        margin-bottom: 0.5em;
    }
    .newsevents-lead {
        text-align: center;
        p {
            font-size: 1.1em;
            font-weight: 700;
        }
    }
}


/* Single produkte */
.single-produkte-page {
    padding-top: 0;
    padding-bottom: 0;
    background-color: $lightgreybg;
}

h1.produkte-single-h1-title {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}
.produkte-single-image-and-title {
    display: flex;
    flex-direction: row;
    padding-top: 0;
    @media (max-width: $mediumscreen){
        flex-direction: column;
    }
}
.produkte-single-image {
    width: 50%;
    @media (max-width: $mediumscreen){
        width: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
.produkte-single-title {
    width: 50%;
    padding: 1.25rem;
    position: relative;
    .produkte-single-title-text-content {
        padding-top: 1rem;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        padding-right: 1.25rem;
    }
    @media (max-width: $mediumscreen){
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        padding-top: 1rem;
        padding-bottom: 0;
        .produkte-single-title-text-content {
            position: relative;
            top: 0;
            transform: translateY(0%);
            padding: 0;
        }
    }
}
.produkte-single-header-info-wrapper {
    position: relative;
    //margin-left: auto;
    //margin-right: auto;
    color: #000;
    text-align: left;
    //max-width: $mediumscreen;
    padding-top: 0;
    padding-bottom: 0;
    .produkte-single-header-meta-infobox {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        @media (min-width: $smallscreen){
            padding: 1rem 0rem 1rem 0rem;
        }
        .greybox {
            background-color: $lightgreybg;
            padding: 1rem !important;
        }
        .produkte-single-header-meta-info {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            font-weight: 400;
            /* Original Buttons
            .produkte-tag-single-page {
                color: white;
                border-radius: 2rem;
                text-transform: none;
                font-size: 0.8rem;
                font-weight: 600;
                padding-top: 0.3rem;
                padding-bottom: 0.3rem;
                padding-left: 1rem;
                padding-right: 1rem;
                background: $primary;
                box-shadow: 0px 3px 3px #00000029;
                display: inline-block;
                margin-right: 0.4rem;
                margin-bottom: 0.4rem;
            }
            .produkte-tag-single-page:hover {
                background: $secondary;
            }
            .produkte-tag-single-page a {
                color: white;
                text-decoration: none;
            }
            */
            /* Neu Ohne Button*/
            .produkte-tag-single-page {
                color: $primary;
                text-transform: none;
                font-size: 1rem;
                font-weight: 900;
                display: inline-block;
                margin-right: 1.25rem;
                margin-bottom: 0.2rem;
            }
            .produkte-tag-single-page a:hover {
                color: $secondary;
            }
            .produkte-tag-single-page a {
                color: $primary;
                text-decoration: none;
            }
            .produkte-tag-single-page-larger {
                color: white;
                border-radius: 2rem;
                text-transform: none;
                font-size: 0.875rem;
                font-weight: 600;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                padding-left: 1.5rem;
                padding-right: 1.5rem;
                background: $primary;
                box-shadow: 0px 3px 3px #00000029;
                display: inline-block;
                margin-right: 0.4rem;
                margin-bottom: 0.4rem;
            }
            .produkte-tag-single-page-larger:hover {
                background: $secondary;
            }
            .produkte-tag-single-page-larger a {
                color: white;
                text-decoration: none;
            }
            
            .produkte-single-header-meta-info-date {
                font-size: 1rem;
                font-weight: 600;
                padding-top: 0.25em;
                padding-bottom: 0.25em;
            }
        }
    }

}

#produkte-single-content-wrapper {
    background: white;
    box-shadow: 0px 3px 3px #00000029;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    padding: 2em;
    @media (min-width: $smallscreen){
        padding: 1em 6em 3em 6em;
        }
    h2 {
        font-size: 1.5em;
        margin-top: 2em;
        margin-bottom: 1em;
    }
    h3 {
        font-size: 1.25em;
        margin-top: 1.5em;
        margin-bottom: 0.5em;
    }
    .produkte-lead {
        text-align: center;
        p {
            font-size: 1.1em;
            font-weight: 700;
        }
    }
    .product-subtitle {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.3;
        padding-bottom: 0.5rem;
    }
}


/* ShareThis Styling */
.margin-bottom-50 {
    margin-bottom: 3.125rem;
}
.margin-bottom-16 {
    margin-bottom: 1rem;
}

.sharethis-container {
    background-color: transparent;
}
.sharethiscenter > .sharethis-inline-share-buttons {
    text-align: center !important;
} 

/* everything pagination */
.pagination {
    margin-top: 1.5rem;
    font-weight: 600;
}
.page-item.active .page-link {
    background-color: $primary;
    border: solid 1px $primary;
}
.page-item:first-child .page-link ,
.page-item:last-child .page-link  {
    border-radius: 0;
}
.page-link {
    //border: none;
    color: $primary;
}

/* Teaser Box */
.teaser-box {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.fachwissen-teaser {
    padding: 1rem;
}
.fachwissen-title > h3 {
    font-size: 1em;
    font-weight: 700;
}
.newsevents-sectiontitle {
    font-size: 2em;
    margin-bottom: 0.75em;
    font-weight: 600;
}

.newsevents-teaser {
    padding: 1rem;
}
.newsevents-title > h3 {
    font-size: 1em;
    font-weight: 700;
}
.newsevents-sectiontitle {
    font-size: 2em;
    margin-bottom: 0.75em;
    font-weight: 600;
}


/* Icons für Dienstleistungen Fachgebiete etc. */
.tracommeiconlarge {
    font-size: 1.25rem !important;
}
.tracommeiconlarge > div {
    width: 6em !important;
}
.tracommeiconmedium {
    font-size: 0.75rem !important;
}
.tracommeiconmedium > div {
    width: 6em !important;
}

/* Bluebox, Overview Dienstleistungen/Fachgebiete etc. */
.infobox-subpage {
    color: #ffffff;
    @media (max-width: $smallscreen){
        padding-left: 12px !important;
        padding-right: 12px !important;
        }
}
.infobox-subpage > .vc_column-inner {
    box-shadow: 0px 3px 3px $shadowbg01;
    text-align: center;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    padding-top: 3rem !important;
    padding-bottom: 1.5rem !important;
    @media (max-width: $smallscreen){
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
        padding-top: 2rem !important;
        padding-bottom: 1rem !important;
        }
}
.overviewbox {
    color: #ffffff;
    @media (max-width: $smallscreen){
        padding-left: 0 !important;
        padding-right: 0 !important;
        }
}
.overviewbox > .vc_column-inner {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    padding-top: 3rem !important;
    padding-bottom: 1.5rem !important;
    @media (max-width: $smallscreen){
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
        padding-top: 2rem !important;
        padding-bottom: 1rem !important;
        }
}
.bluebox > .vc_column-inner {
    background-color: $primary !important;
}
.darkbluebox > .vc_column-inner {
    background-color: $secondary !important;
}
.darkgreenbox > .vc_column-inner {
    background-color: #04470a !important;
}
.darkredbox > .vc_column-inner {
    background-color: #610000 !important;
}


/* Everything Partner */
.tracommepartnerlogo {
    @media (max-width: $smallscreen){
        padding-left: 0 !important;
        padding-right: 0 !important;
        }
}
.tracommepartnerlogo > * > * > .wpb_single_image {
    padding: 1rem !important;
}


/* Everything Kontakt-Formular */
.wpcf7-form label {
    font-weight: 700;
    font-size: 1rem;
    color: $secondary;
}
.contactdropdown {
    color: green !important;
}
.contactformbox {
    color: #000000 !important;
    border: 3px solid $secondary !important;
    border-radius: 0 !important;
}
.contactformbutton {
    color: #000000 !important;
    border: 3px solid $secondary !important;
    border-radius: 0 !important;
}
.contactformlistitems > .first {
    margin-left: 0;
}
.contacticon {
    margin-right: 0.5rem;
}
.wpcf7-not-valid-tip {
    color: #b30000 !important;
}
.wpcf7-response-output {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
    border: 3px solid #b30000 !important;
}
.wpcf7-submit {
    color: #ffffff !important;
    font-weight: 700 !important;
    width: 180px !important;
    max-width: 300px !important;
    border: none !important;
    background: $secondary !important;
    border-radius: 3rem !important;
    padding: 0.75rem !important;
}
.wpcf7-submit:hover { 
    background: $primary !important;
}
.wpcf7-spinner {
    top: 0.75rem !important;
    height: 2rem !important;
    width: 2rem !important;
}


/* Header Image Dienstleistungen / Fachgebiete */
.themeheaderimage {
    min-height: 600px;
    @media (max-width: $largescreen){
        min-height: 500px;
        }
    @media (max-width: $mediumscreen){
        min-height: 400px;
        }
    @media (max-width: $smallscreen){
        min-height: 300px;
        }
}


/* Breadcrumbs */
.tracommebreadcrumbs {
    margin-bottom: 0 !important;
    margin-top: 1rem !important;
    font-size: 0.85rem !important;
}
.tracommebreadcrumbs a {
    text-decoration: none !important;
    color: #000000 !important;
}


/* Info Boxes*/
.frontpage-infobox {
@media (max-width: $smallscreen){
    padding-left: 15px !important;
    padding-right: 15px !important;
    }
}
.frontpage-infobox > .vc_column-inner {
    box-shadow: 0px 3px 3px $shadowbg01;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    padding-top: 2.5rem !important;
    padding-bottom: 1rem !important;
    text-align: center !important;
}


/* Subpage-Post-Grid */
.subpage-grid {
    padding-bottom: 0.2rem !important;
}
.subpage-grid .vc_gitem-post-data-source-post_title {
    margin-bottom: 0px !important;
}
.subpage-grid .vc_gitem-col {
    padding: 0px !important;
}
.subpage-grid .vc_gitem-zone-c {
    width: 100% !important;
}
.subpage-grid a::before {
    font-family: "FontAwesome";
    font-weight: 400;
    padding-right: 0.8rem;
    font-size: 1rem;
    content: "\f0c8";
}
.subpage-grid a {
    font-size: 1.1rem;
    font-weight: 700;
    color: $primary !important;
}
.subpage-grid a:hover {
    color: $secondary !important;
}



// Filter Navigation for Fachwissen
.nav-filter {
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-transform: uppercase;
    font-weight: 700;
    a {
        text-decoration: none;
    }
    .nav-filter-title, .nav-filter-title:hover {
        margin-right: 0.5em;
        text-transform: none;
        background-color: transparent;
        box-shadow: none;
        color: $primary;
        padding-left: 0px;
    }
}

.nav-filter li {
    color: white;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: 700;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    box-shadow: 0px 3px 3px #00000029;
    margin-right: 0.4em;
    margin-top: 5px;
    margin-right: 5px;
    list-style-type: none;
    background: $primary;
}

.nav-filter li.active {
    background: $secondary;
}

.nav-filter li:hover {
    background: $secondary;
}

.nav-filter li a:active, .nav-filter li a:focus, .nav-filter li a:link, .nav-filter li a:visited {
    color: white;
}

.nav-filter li a:hover {
    color: white;
}

.nav-filter a {
    border: none;
}
.nav li {
    list-style-type: none;
}

.nav a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

.nav a:active, .nav a:focus, .nav a:link, .nav a:visited {
    color: #999;
}

.nav .current-menu-item a, .nav a:hover {
    color: #000;
}

.status-fachwissen {
    font-size: 1em;
    font-weight: 700;
}



/* Search Bar */
.two-column-languagebar {
    display: grid;
    grid-template-columns: auto 100px;
}

.searchbarsection {
    width: 100%;
    .searchbarbox {
        height: 27px;
        background: $lightgreybg;
        color: $primary;
        display: grid;
        grid-template-columns: 30px auto;
        input {
            border: none;
            background-color: transparent;
            outline: none;
            font-weight: 400;
            align-items: center;
            font-size: 0.9rem;
        }
        .fa {
            padding-right: 0.75em; 
            padding-left: 0.4em;
            display: flex;
            align-items: center;
        }
        .search-submit {
            display: none !important; 
        }
    }
}
.form-control {
    border-radius: 0px !important;
}
.form-control:focus {
    box-shadow: none !important;
}
.search-bar-search-page {
    margin-top: 1rem;
    margin-bottom: 2rem;
    max-width: 500px;
}
.search-result-box {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    border-top: 1px solid #d5d5d5;
    a {
        text-decoration: none;
    }
}
.search-result-box:first-of-type {
    margin-top: 1.75rem;
}
.search-result-box:last-child {
    border-bottom: 1px solid #d5d5d5;
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    border-radius: 0px !important;
}