html {
    font-size: 100%;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem !important; // Grundschriftart 
}

.styledark {
    color: #ffffff;
}
.stylelight {
    color: $primary;
}

h1.page-title {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 0;
}
h2.page-subtitle {
    font-size: 2.5rem;
    font-weight: 400;
    padding-bottom: 0.5rem;
}
h2.frontpage-sectiontitle {
    font-size: 2.5rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
}
h3.frontpage-subsectiontitle {
    font-size: 1.75rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
}
// Logo Grösse definieren
.custom-logo-link > img {
    width: 95px;
}
.bg-primary {
    background-color: #fff !important;
}

#wrapper-navbar {
    box-shadow: 0px 3px 3px $shadowbg01;
}
#main-menu {
    font-weight: 700;
  }
.navbar {
    --bs-navbar-nav-link-padding-x: 1.25rem;
}
.navbar-light {
--bs-navbar-color: #000000;
--bs-navbar-hover-color: #0060AF;
--bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
--bs-navbar-active-color: #0060AF;
--bs-navbar-brand-color: #0060AF;
--bs-navbar-brand-hover-color: #0060AF;
--bs-navbar-toggler-border-color: none;
--bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.linkbutton {
    border: none;
    background-color: $primary;
    border-radius: 2rem;
    opacity: 1;
    padding-right: 0;
    padding-left: 0;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    font-weight: 600;
    color: #fff;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    a, a:hover, a:focus {
        color: white;
    }
    @media (max-width: $mediumscreen){
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0;
        padding-bottom: 0;
        }
}
.ms-center {
    margin:auto;
}

.navbar-toggler {
    border: none;
    color: transparent;
}

.flexgrownull {
    flex-grow: 0;
}

.languagebar {
    height: 2.125rem;
    background: $lightgreybg;
}

/* Language Menu Customization */
.wpml-ls {
    margin-left: auto !important; // Right Align
    font-size: 0.875rem;
    padding-top: 3px;
    font-weight: 600;
}
.wpml-ls-legacy-dropdown-click {
    width: 6.1rem;
    .wpml-ls-sub-menu {
        border: none !important;
        background: $primary;
        padding-bottom: 2px;
        a, a:hover, a:focus {
            color: #fff !important;
        }
    }
}
.wpml-ls-legacy-dropdown-click a, .wpml-ls-legacy-dropdown-click a:hover, .wpml-ls-legacy-dropdown-click a:focus {
    border: none;
    background-color: transparent !important;
    color: $primary !important;
}

/* Developement WPML Bar remove*/
.otgs-development-site-front-end {
    display: none;
}
/* Everything FOOTER */
#wrapper-footer {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}
.footericon {
    margin-bottom: 0px !important;
    @media (max-width: $smallscreen){
        text-align: left !important;
        }
}
.footericon > div {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    padding-top: 0px !important;
    border: none !important;
    top: -0.75em !important;
    height: 3em !important;
    width: 3em !important;
    @media (max-width: $smallscreen){
        text-align: left !important;
        width: 2em !important;
        }
}
/* Page Wrapper */
#page-wrapper {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Styling Footer Row */
.footerrowbg {
    background-color: $primary;
    padding-top: 3.125rem;
    padding-bottom: 1.25rem;
}
.footerrowheading {
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
}
.footerrowtext {
    color: #fff;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.75rem;
}
.footerrowtext a {
    color: #fff;
    text-decoration: none;
}
.footerrowtext a:hover {
    text-decoration: none;
    color: #c7c7c7;
}
.footerrowtextsmall {
    color: #fff;
    font-size: 0.8rem;
    font-weight: 400;
    padding-right: 3.125rem;
}
/* Styling Copyright Row */
.copyrightrowbg {
    background-color: $secondary;
}
.copyrightrow {
    color: #fff;
    font-size: 0.8rem;
    font-weight: 700;
    padding-top: 1.875rem;
}
.copyrightrow a {
    text-decoration: none;
    color: #fff;
}
.copyrightrow a:hover {
    text-decoration: none;
    color: #c7c7c7;
}
.copyrightrightalign {
    text-align: right;
    @media (max-width: $smallscreen){
        text-align: left;
        }
}
.copyrightrightalign > div > p > a {
    padding-left: 0.75rem;
    padding-right: 0;
    @media (max-width: $smallscreen){
        padding-left: 0;
        padding-right: 0.75rem;
        }
}

// Buttons
.vc_btn3-color-btn-tracomme-blue {
    background-color: $primary !important;
    border-color: transparent !important;
    color: #ffffff !important;
    font-weight: 700;
}
.vc_btn3-color-btn-tracomme-darkblue {
    background-color: $secondary !important;
    border-color: transparent !important;
    color: #ffffff !important;
    font-weight: 700;
}
.vc_btn3-color-btn-tracomme-white {
    background-color: #ffffff !important;
    border-color: transparent !important;
    color: $primary !important;
    font-weight: 700;
}
.vc_btn3-color-btn-tracomme-lightgrey {
    background-color: $lightgreybg !important;
    border-color: transparent !important;
    color: $primary !important;
    font-weight: 700;
}
.tracomme2023-read-more-link {
    font-size: 0.75rem;
    font-weight: 700;
    background-color: $primary !important;
    border-color: transparent !important;
    color: #ffffff !important;
    border: none;
    border-radius: 2rem;
    opacity: 1;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    width: -webkit-min-content;
    width: -moz-min-content;
    text-transform: uppercase;
    a, a:hover, a:focus {
        color: white;
    }   
}
.tracomme2023-read-more-link::after {
    font-family: "FontAwesome";
    font-weight: 400;
    padding-left: 0.875rem;
    font-size: 0.75rem;
    content: "\f054";
}

/* styling for events & expertise */
.eventsexpertise-wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 0.75em;
    padding-bottom: 0;
    @media (max-width: $mediumscreen){
        flex-direction: column;
    }

}
.eventsexpertise-vorschaubild {
    width: 45%;
    @media (max-width: $mediumscreen){
        width: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }
    
}
.eventsexpertise-preview {
    width: 55%;
    background: $lightgreybg;
    padding: 1.25rem;
    position: relative;
    .eventsexpertise-preview-content {
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        padding-right: 1.25rem;
    }
    @media (max-width: $mediumscreen){
        width: 100%;
        // zentrierung vertikal
        .eventsexpertise-preview-content {
            top: 0;
            transform: none;
            position: relative;
        }
        
    }
}
.eventsexpertise-date {
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 3px;
}
.eventsexpertise-title {
    font-size: 1.625rem;
    font-weight: 700;
    margin-top: 0;
}
.eventsexpertise-title a {
    text-decoration: none;
}
.eventsexpertise-excerpt {
    font-size: 1rem;
    font-weight: 400;
    margin-right: 0.75em;
}

/* Single eventsexpertise */
.single-eventsexpertise-page {
    padding-top: 0;
    padding-bottom: 0;
    background-color: $lightgreybg;
}

h1.eventsexpertise-single-h1-title {
    font-size: 2.25em;
    text-transform: none;
    font-weight: 700;
}

#eventsexpertise-single-header-wrapper {
    position: relative;
    box-sizing: border-box;
    left: calc(50% - 100vw/2);
    right: calc(50% - 100vw/2);
    width: 100vw;
    max-width: 100vw;
    padding-left: calc(100vw/2 - 50%);
    padding-right: calc(100vw/2 - 50%);
    min-height: 20rem;
    height: 40vh;
    margin-bottom: -4.5rem;
}
.eventsexpertise-single-header-image {
    position: absolute;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: center center;
    min-width: 100vw;
    width: 100vw;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    .eventsexpertise-single-image-overlay {
        background: $primary;
        opacity: 0.5;
        color: inherit;
        position: absolute;
        width: 100%;
        height: 100%!important;
        left: 0;
        top: 0;
    }
}
.eventsexpertise-single-header-info-wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    text-align: center;
    max-width: $mediumscreen;
    padding-top: 0;
    padding-bottom: 0;
    .eventsexpertise-single-header-meta-infobox {
        padding-bottom: 1rem;
        @media (min-width: $smallscreen){
            padding: 1rem 3rem 1rem 3rem;
        }
        .eventsexpertise-single-header-meta-info {
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            font-weight: 400;
            .eventsexpertise-tag-single-page {
                color: white;
                border-radius: 2rem;
                text-transform: uppercase;
                font-size: 0.875rem;
                font-weight: 600;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                padding-left: 1.5rem;
                padding-right: 1.5rem;
                background: $primary;
                box-shadow: 0px 3px 3px #00000029;
                display: inline-block;
            }
            .eventsexpertise-tag-single-page a {
                color: white;
                text-decoration: none;
            }
            .eventsexpertise-single-header-meta-info-date {
                font-size: 1rem;
                font-weight: 600;
                padding-top: 0.25em;
                padding-bottom: 0.25em;
            }
        }
    }

}

#eventsexpertise-single-content-wrapper {
    background: white;
    box-shadow: 0px 3px 3px #00000029;
    position: relative;
    max-width: $mediumscreen;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    @media (min-width: $smallscreen){
        padding: 3em 6em 1em 6em;
        }
    h2 {
        font-size: 1.5em;
        margin-top: 2em;
        margin-bottom: 1em;
    }
    h3 {
        font-size: 1.25em;
        margin-top: 1.5em;
        margin-bottom: 0.5em;
    }
    .eventsexpertise-lead {
        text-align: center;
        p {
            font-size: 1.1em;
            font-weight: 700;
        }
    }
}

/* AddThis Styling */
.margin-bottom-50 {
    margin-bottom: 3.125rem;
}
.margin-bottom-16 {
    margin-bottom: 1rem;
}

.addthis-container {
    display: block;
    text-align: center !important;
    background-color: transparent;

  
    .addthis_inline_share_toolbox {
      a {
        border-radius: 666 !important;
        background-color: $primary !important;
        margin: 0 5px !important;
  
        @include breakpoint('s') {
          margin: 0 3px !important;
        }
  
        .at-icon-wrapper {
          height: 1.5rem !important;
          width: 1.5rem !important;
          line-height: 1.5rem !important;
  
          svg {
            height: 1.5rem !important;
            width: 1.5rem !important;
            line-height: 1.5rem !important;
          }
        }
  
        @include breakpoint('s') {
          .at-icon-wrapper {
            height: 1.75rem !important;
            width: 1.75rem !important;
            line-height: 1.75rem !important;
  
            svg {
              height: 1.75rem !important;
              width: 1.75rem !important;
              line-height: 1.75rem !important;
            }
          }
        }
      }
    }
  
    &__left {
      @extend .addthis-container;
      text-align: left !important;
    }
}
.addthisleft {
    text-align: left !important;
    margin-left: -5px;
} 

/* everything pagination */
.pagination {
    margin-top: 1.5rem;
    font-weight: 600;
}
.page-item.active .page-link {
    background-color: $primary;
    border: solid 1px $primary;
}
.page-item:first-child .page-link ,
.page-item:last-child .page-link  {
    border-radius: 0;
}
.page-link {
    //border: none;
    color: $primary;
}

/* Teaser Box */
.teaser-box {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 4rem;
    padding-bottom: 0px;
}

/* Icons für Dienstleistungen Fachgebiete etc. */
.tracommeiconlarge {
    font-size: 1.25rem !important;
}
.tracommeiconlarge > div {
    width: 6em !important;
}
.tracommeiconmedium {
    font-size: 0.75rem !important;
}
.tracommeiconmedium > div {
    width: 6em !important;
}